/*Базовые настройки страницы*/
   * {
       box-sizing: border-box;
   }  
   body{
       margin: 0;
   }
/*Конец базовых настроек страницы*/

/*Универсальные стили*/
.left, .ul_li li{
    float: left;
}
.right{
    float: right;
}
.ul_li {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}
.ul_li li{
    padding: 10px 15px;

}
.bo li{
    border-right: 1px solid #dadada;
}
.
.container{
    width: 1200px;
    margin: 0 auto;
}
/*Конец универсальных стилей*/

/*Стили для страницы*/
/*Урок14*/
 .vm{
     background-color: #f7f7f7;
     display: inline-block;
     width: 100%;
 }
 .ul_li i{
     margin-right: 10px;
 }
 .bo li:last-child{
     border-right: 0;
 }
 .msg {
     position: absolute;
     top: -7px;
     right: 8px;
     background: red;
     width: 13px;
     height: 13px;
     text-align: center;
     color: white;
     font-size: 9px;
     line-height: 1.5;
     border-radius: 13px;
 }
 .icon_msg {
     position: relative;
 }
/*Конец стилей для страницы*/

/* второй блок*/
.block2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}